# venvs
.venv/
.venv_*/
venv/

# large/local assets
models/
weights/
cache/
*.mp4
*.mov
*.MOV
*.wav
*.pk
*.onnx
*.pth
*.jpg
*.png

# python caches
__pycache__/
*.pyc

# timing report
timing_report.txt